<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            
            <h1 id="proje">Projelerim...</h1>

            <p class="lead">Çeşitli alanlardaki projelerim hakkında bilgi sahibi olabilirsiniz</p>
        </div>
    </div>

    <div class="row testimonials">
        <div class="col-full testimonials__slider" style="color:black">

            <div class="testimonials__slide" style="color:black">
                <div class="testimonials__author h06" style="color:black">

                    Advanced Task-Tracker App
                    <span>ReactJs</span>
                </div>

                <p style="color:black">
                    Görevleri ve projeleri takip etmek ve yönetmek için merkezi bir platform sağlamayı amaçlayan bu projede, ekip üyelerinin görev atamalarına, öncelik belirlemelerine, son teslim tarihlerini ayarlamalarına ve ilerlemeyi takip etmelerine olanak tanıdım. Ekip üyeleri arasında iletişim ve iş birliğini geliştirmek amacıyla görev durumunu ve ilerlemeyi paylaşılmış bir görünüm üzerinden takip etmeyi mümkün kıldım. Görev atandığında, tamamlandığında veya geciktiğinde gerçek zamanlı bildirimler ve uyarılar sağlayarak ekip üyelerini bilgilendirdim. Bu projeyi mezuniyet projesi olarak geliştirdim. Proje, ReactJs, Tailwind ve Firebase kullanılarak oluşturuldu. Sürükle ve bırak işlevi için DnD kütüphanesini kullandım.
                </p>

            </div>
            <div class="testimonials__slide" style="color:black">
                <div class="testimonials__author h06" style="color:black">
                    Weather App
                    <span>React Native</span>
                </div>

                <p style="color:black">
                    Projenin amacı, yerel konumun ve seçilen diğer şehirlerin günlük ve 5 günlük hava durumu koşullarını göstermektir. Mevcut hava durumu bilgilerini API (Uygulama Programlama Arayüzü) aracılığıyla sağladım. Bu projeyle, React Native'in özelliklerini anlamayı hedefledim.
                </p>
                
            </div>
            <div class="testimonials__slide" style="color:black">
                <div class="testimonials__author h06" style="color:black">
                    Rolex Catalog Clone
                    <span>FIGMA</span>
                </div>

                <p style="color:black">
                    Bu projede, bir Rolex model kataloğu klonu yaptım. Projenin amacı, birden fazla sayfanın birbirleriyle etkileşimde bulunmasını ve aralarında geçiş yapılmasını sağlamaktır. Her durumu göz önünde bulundurarak 5 farklı sayfa birbirine bağlandı. İnteraktif Kaydırma Bileşeni kullanıldı. Figma ile oluşturuldu.
                </p>
                
            </div>
            





        </div>
    </div> <!-- end masonry -->

</section>
<style>
    .slick-arrow .im-arrow-left {
        color: black;
        font-size: 30px;
    }

    .slick-arrow .im-arrow-right {
        color: black;
        font-size: 30px;
    }

   
</style>