<div id="referances" class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">Bana Ulaş.</h1>
        </div>
    </div>

    <div class="row testimonials">

        <div class="col-full testimonials__slider">

         
            
                <div class="testimonials__slide">
                <div class="testimonials__author h06">
                    GSM

                </div>

                    <p>
                        +90 5353373855
                    </p>
                    
                </div>
            <div class="testimonials__slide">
                <div class="testimonials__author h06">
                    E-Mail

                </div>

                <p>
                    enisaydin6116@gmail.com
                </p>
               
            </div>
            <div class="testimonials__slide">
                <div class="testimonials__author h06">
                    LinkedIn

                </div>

                <p>
                    www.linkedin.com/in/enisaydin/
                </p>
                
            </div>
            <div class="testimonials__slide">
                <div class="testimonials__author h06">
                    GitHub

                </div>

                <p>
                    github.com/enisaydin/
                </p>
                
            </div>
            <div class="testimonials__slide">
                <div class="testimonials__author h06">
                    Adreslerim

                </div>

                <p>
                    Küçükçekmece/İstanbul
                  
                </p>
                <p>
                    
                    Nilüfer/Bursa
                    
                </p>
                <p>
                   
                    The Hague/Netherlands
                </p>
                
            </div>
            




        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div>